{% extends "basepage.html" %}
{% block content %}
    <p>Buscar a Spotify</p>
    <form method="get" action="/browse">
        <input type="search" name="keyword" />
        <select name="type">
            <option value="track">Track</option>
            <option value="artist">Artist</option>
            <option value="album">Album</option>
            <option value="playlist">Playlist</option>
        <input type="submit" value="Buscar"/>
    </form>
    {% block results %}
	{% endblock %}
{% endblock %}