{% extends "browse.html" %}
{% block title %}PlayIT - {{ keyword }}{% endblock %}
{% block results %}
    <h2>Artists containing: {{ keyword }}</h2>
    <table style="width:100%" >
        <tr>
            <th>Name</th>
            <th>id</th>
        </tr>
        {% for artist in artists.items %}
            <tr>
                <td>{{ artist.name }}</td>
                <td>{{ artist.id }}</td>
            </tr>
        {% endfor %}
    </table>
    <h3>Total results: {{ artists.total }}. Max: {{ artists.limit }}. Offset: {{ artists.offset }}</h3>
    <p><a href="{{ next_page }}">Next page</a> </p>
{% endblock %}