{% extends "browse.html" %}
{% block results %}
    <p>Browsing track: {{ keyword }} on Spotify.</p>
    <table style="width:100%" >
        <tr>
            <th>Name</th>
            <th>Artist</th>
            <th>Album</th>
            <th>id</th>
        </tr>
        {% for track in tracks.items %}
            <tr>
                <td>{{ track.name }}</td>
                <td>{{ track.artists.0.name }}</td>
                <td>{{ track.album.name }}</td>
                <td>{{ track.id }}</td>
                <td><a href="/track/{{ track.id }}">Add</a></td>
            </tr>
        {% endfor %}
    </table>
    <p>Total results: {{ tracks.total }}. Max: {{ tracks.limit }}. Offset: {{ tracks.offset }}</p>
    <p><a href="{{ next_page }}">Next page</a> </p>
{% endblock %}