{% extends "browse.html" %}
{% block results %}
    <p>Browsing artist: {{ keyword }} on Spotify.</p>
    <table style="width:100%" >
        <tr>
            <th>Name</th>
            <th>id</th>
        </tr>
        {% for artist in artists.items %}
            <tr>
                <td>{{ artist.name }}</td>
                <td>{{ artist.id }}</td>
            </tr>
        {% endfor %}
    </table>
    <p>Total results: {{ artists.total }}. Max: {{ artists.limit }}. Offset: {{ artists.offset }}</p>
    <p><a href="{{ next_page }}">Next page</a> </p>
{% endblock %}