{% extends "browse.html" %}
{% block results %}
    <h2>Playlists containing: {{ keyword }}</h2>
    <table style="width:100%" >
        <tr>
            <th>Name</th>
            <th>id</th>
            <th>Owner</th>
        </tr>
        {% for playlist in playlists.items %}
            <tr>
                <td>{{ playlist.name }}</td>
                <td>{{ playlist.id }}</td>
                <td>{{ playlist.owner.id }}</td>
            </tr>
        {% endfor %}
    </table>
    <h3>Total results: {{ playlists.total }}. Max displayed: {{ playlists.limit }}. Offset: {{ playlists.offset }}</h3>
    <p></p>
    {% if playlists.previous %}
        <a href="{{ previous_page }}"><button>Previous page</button></a>
    {% endif %}
    {% if playlists.next %}
        <a href="{{ next_page }}"><button>Next page</button></a>
    {% endif %}
{% endblock %}