{% extends "browse.html" %}
{% block title %}PlayIT - {{ keyword }}{% endblock %}
{% block results %}
    <h2>Tracks containing: {{ keyword }}</h2>
    <table style="width:100%" >
        <tr>
            <th>Name</th>
            <th>Artist</th>
            <th>Album</th>
            <th>id</th>
        </tr>
        {% for track in tracks.items %}
            <tr>
                <td>{{ track.name }}</td>
                <td>{{ track.artists.0.name }}</td>
                <td>{{ track.album.name }}</td>
                <td>{{ track.id }}</td>
                <td><a href="/track/{{ track.id }}">Add to playlist</a></td>
            </tr>
        {% endfor %}
    </table>
    <h3>Total results: {{ tracks.total }}. Max displayed: {{ tracks.limit }}. Offset: {{ tracks.offset }}</h3>
    <p></p>
    {% if tracks.previous %}
        <a href="{{ previous_page }}"><button>Previous page</button></a>
    {% endif %}
    {% if tracks.next %}
        <a href="{{ next_page }}"><button>Next page</button></a>
    {% endif %}
{% endblock %}