{% extends "basepage.html" %}
{% load staticfiles %}
{% block title %}PlayIT - Browse{% endblock %}
{% block content %}
    <h1>Search on Spotify</h1>
    <form method="get" action="/browse">
        <input type="search" name="keyword" />
        <select name="type">
            <option value="track">Track</option>
            <option value="artist">Artist</option>
            <option value="album">Album</option>
            <option value="playlist">Playlist</option>
        <input type="submit" value="Search"/>
    </form>
    {% block results %}
	{% endblock %}
{% endblock %}