{% extends "basepage.html" %}
{% block title %}PlayIT - Home{% endblock %}
{% block content %}
    {% if user.username %}
        {% if pubs %}
            <h1>List of user pubs</h1>
            <ul>
                {% for pub in pubs %}
                    <li><h2><a href="/pub/{{ pub.id }}">{{ pub.name }}</a></h2></li>
                    <h3>{{ pub.street }}, {{ pub.number }} - {{ pub.city }}</h3>
                {% endfor %}
            </ul>
       {% else %}
            <h2>This user has no registered pubs</h2>
       {% endif %}
    {% else %}
        <h2><a href="/accounts/login/">Login</a> to access your registered pubs</h2>
    {% endif %}
{% endblock %}