{% extends "basepage.html" %}
{% block content %}
    {% if user.username %}
        <p>Welcome {{ user.username }}! <a href="/accounts/logout?next=/">Logout</a> </p>
        {% if pubs %}
            <p>List of user pubs:</p>
            <table style="width:100%" >
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>City</th>
                </tr>
                {% for pub in pubs %}
                    <tr>
                        <td>{{ pub.id }}</td>
                        <td>{{ pub.name }}</td>
                        <td>{{ pub.address }}</td>
                        <td>{{ pub.city }}</td>
                        <td><a href="/pub/{{ pub.id }}">Show</a></td>
                        <td><a href="/unfollow_pub/{{ pub.id }}">Unfollow</a></td>
                    </tr>
                {% endfor %}
            </table>
       {% else %}
            <p>This user has no registered pubs.</p>
       {% endif %}
        <p><a href="/pub">Show all pubs</a></p>
        <p><a href="/pub/create">Create a pub</a></p>
    {% else %}
        <p><a href="/accounts/login/">Login</a> to access your registered pubs.</p>
    {% endif %}
{% endblock %}