{% extends "basepage.html" %}
{% block content %}
    {% if playlists %}
        <p>Showing all registered playlists</p>
        <table style="width:100%" >
            <tr>
                <th>id</th>
                <th>Name</th>
            </tr>
            {% for playlist in playlists %}
                <tr>
                    <td>{{ playlist.id }}</td>
                    <td>{{ playlist.name }}</td>
                    <td><a href="/playlist/{{ playlist.id }}">Show</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no registered playlists!</p>
    {% endif %}
{% endblock %}