{% extends "basepage.html" %}
{% block content %}
    <p>Playlist of pub: <a href="/pub/{{ pub.id }}">{{ pub.name }}</a></p>
    {% if user_is_owner %}
        <p></p><a href="/pub/{{ pub.id }}/playlist/{{ playlist.id }}/edit">Edit playlist</a></p>
        <p></p><a href="/pub/{{ pub.id }}/playlist/{{ playlist.id }}/delete">Delete playlist</a></p>
    {% endif %}
    {% if tracks %}
        <p>Showing tracks:</p>
        <table style="width:100%" >
            <tr>
                <th>Name</th>
                <th>Artist</th>
                <th>Album</th>
                <th>id</th>
            </tr>
            {% for track in tracks %}
                <tr>
                    <td>{{ track.name }}</td>
                    <td>{{ track.artist }}</td>
                    <td>{{ track.album }}</td>
                    <td>{{ track.spotify_id }}</td>
                    {% if user_is_owner %}
                        <td><a href="/pub/{{ pub.id }}/playlist/{{ playlist.id }}/remove_track/{{ track.spotify_id }}">Remove track</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>This playlist is empty!</p>
    {% endif %}
    <p></p><a href="/playlist">Show all playlists</a></p>
{% endblock %}