{% extends "basepage.html" %}
{% block title %}PlayIT - {{ pub.name }} - {{ playlist.name }}{% endblock %}
{% block content %}
    <h1>{{ pub.name }} - {{ playlist.name }}
    {% if user_is_owner %}
        <a href="/pub/{{ pub.id }}/playlist/{{ playlist.id }}/edit"> (edit)</a>
        <a href="/pub/{{ pub.id }}/playlist/{{ playlist.id }}/delete"> (remove)</a>
    {% endif %}</h1>
    <h2>Playlist of pub: <a href="/pub/{{ pub.id }}">{{ pub.name }}</a></h2>
    {% if tracks %}
        <h2>Showing tracks:</h2>
        <table style="width:100%" >
            <tr>
                <th>Name</th>
                <th>Artist</th>
                <th>Album</th>
                <th>id</th>
            </tr>
            {% for track in tracks %}
                <tr>
                    <td>{{ track.name }}</td>
                    <td>{{ track.artist }}</td>
                    <td>{{ track.album }}</td>
                    <td>{{ track.spotify_id }}</td>
                    {% if user_is_owner %}
                        <td><a href="/pub/{{ pub.id }}/playlist/{{ playlist.id }}/remove_track/{{ track.spotify_id }}">Remove track</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>This playlist is empty!</h3>
    {% endif %}
{% endblock %}