{% extends "basepage.html" %}
{% block title %}PlayIT - {{ pub.name }}{% endblock %}
{% block footer %}Created by {{ pub.user }}{% endblock %}
{% block content %}
    <div vocab="http://schema.org/" resource="/pub/{{ pub.id }}" typeof="BarOrPub">
        <span property="name" content="{{ pub.name }}"/>
        <h1>{{ pub.name }}
            {% if user_follow_pub == 1 %}
                <a href="/unfollow_pub/{{ pub.id }}"> (Unfollow)</a>
            {% elif user_follow_pub == 2 %}
                <a href="/follow_pub/{{ pub.id }}"> (Follow)</a>
            {% endif %}
            {% if user_is_owner %}
                <a href="/pub/{{ pub.id }}/edit"> (edit)</a>
                <a href="/pub/{{ pub.id }}/delete"> (remove)</a>
            {% endif %}
        </h1>
        <h3 property="address" typeof="PostalAddress">
            <a property="streetAddress">{{ pub.street }}, {{ pub.number }}</a>
            <a property="addressLocality">{{ pub.city }}</a>
            <span property="postalCode" content="{{ pub.zipCode }}"/>
            <span property="addressRegion" content="{{ pub.stateOrProvince }}"/>
            <span property="addressCountry" content="{{ pub.country }}"/>
        </h3>

        {% if reviews %}
            <h2>Reviews</h2>
            <ul rel="review">
                {% for review in reviews %}
                    <li typeof="Review">
                        <p rel="reviewRating" typeof="Rating">
                            <span property="worstRating" content="1"/>
                            <span property="ratingValue">{{ review.rating }}</span> star{{ review.rating|pluralize }}
                            {% if review.user == user %}
                                <a href="/pub/{{ pub.id }}/review/{{ review.id }}/edit"> (edit)</a>
                                <a href="/pub/{{ pub.id }}/review/{{ review.id }}/delete"> (remove)</a>
                            {% endif %}
                            <span property="bestRating" content="5"/>
                        </p>
                        <p property="description">{{ review.comment }}</p>
                        <p>Created by <span property="author">{{ review.user }}</span> on
                            <span property="datePublished">{{ review.date}}</span></p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <h2>Add Review</h2>
        <form action="/pub/{{ pub.id }}/review/create/" method="post">
            {% csrf_token %}
            Message: <textarea name="comment" id="comment" rows="4"></textarea>
            <p>Rating:</p>
            <p>
            {% for rate in RATING_CHOICES %}
                <input type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ rate.1 }}" />
                <label for="choice{{ forloop.counter }}">{{ rate.1 }} star{{ rate.0|pluralize }}</label><br />
            {% endfor %}
            </p>
            <input type="submit" value="Add" />
        </form>

        {% if playlists %}
            <h2>Playlists</h2>
            <ul>
                {% for playlist in playlists %}
                    <li>
                        <a typeof="MusicPlaylist" href="/playlist/{{ playlist.id }}">
                            <span property="name">{{ playlist.name }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h2>This pub has no registered playlists!</h2>
        {% endif %}
        {% if user_follow_pub != 0 %}
            <p><a href="/pub/{{ pub.id }}/playlist/create"><button>Create a playlist</button></a></p>
        {% endif %}
    </div>
{% endblock %}