{% extends "basepage.html" %}
{% block content %}
    {% if playlists %}
        <p>{{ pub.address }}, {{ pub.city }}</p>
        <p>Showing Playlists of Pub: {{ pub.name }}</p>
        <table style="width:100%" >
            <tr>
                <th>id</th>
                <th>Name</th>
            </tr>
            {% for playlist in playlists %}
                <tr>
                    <td>{{ playlist.id }}</td>
                    <td>{{ playlist.name }}</td>
                    <td><a href="/playlist/{{ playlist.id }}">Show</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Aquest pub no te playlists registrades!</p>
    {% endif %}
    <p></p><a href="/pub">Veure tots els pubs</a></p>
{% endblock %}