{% extends "basepage.html" %}
{% block title %}PlayIT - Pubs{% endblock %}
{% block content %}
    <h1>Pubs</h1>
    {% if pubs %}
        <table style="width:100%" >
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>

            </tr>
            {% for pub in pubs %}
                <tr>
                    <td>{{ pub.id }}</td>
                    <td>{{ pub.name }}</td>
                    <td>{{ pub.address }}</td>
                    <td>{{ pub.city }}</td>
                    <td><a href="/pub/{{ pub.id }}">Show</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>There are no registered pubs!</h2>
    {% endif %}
{% endblock %}