{% extends "basepage.html" %}
{% block content %}
    <p>Id track Spotify: {{ track.id }}</p>
    <p>Track name: {{ track.name }}</p>
    <p>Artist: {{ track.artists.0.name }}</p>
    <p>Album: {{ track.album.name }}</p>
    {% if user.username %}
        {% if pub_playlists %}
            <p>List of user pubs:</p>
                {% for pub_playlist in pub_playlists %}
                    {% with pub=pub_playlist.0 %}
                    <p>{{ pub.name }}</p>
                    <table style="width:100%" >
                        <tr>
                            <th>id</th>
                            <th>Name</th>
                        </tr>
                        {% for playlist in pub_playlist.1 %}
                            <tr>
                                <td>{{ playlist.id }}</td>
                                <td>{{ playlist.name }}</td>
                                <td><a href="/pub/{{ pub.id }}/playlist/{{ playlist.id }}/add_track/{{ track.id }}">Add song in this playlist</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% endwith %}
                {% endfor %}
           {% else %}
                <p>Your registered pubs has no playlists!</p>
           {% endif %}
    {% endif %}
    {% block results %}
	{% endblock %}
{% endblock %}