{% extends "basepage.html" %}
{% block content %}
    <p>Showing all registered tracks</p>
    <table style="width:100%" >
        <tr>
            <th>Name</th>
            <th>Artist</th>
            <th>Album</th>
            <th>id</th>
        </tr>
        {% for track in tracks %}
            <tr>
                <td>{{ track.name }}</td>
                <td>{{ track.artist }}</td>
                <td>{{ track.album }}</td>
                <td>{{ track.spotify_id }}</td>
                <td><a href="/track/{{ track.spotify_id }}">Show</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}