{% extends "basepage.html" %}
{% block title %}PlayIT - {{ track.name }}{% endblock %}
{% block content %}
    <h1>{{ track.name }} - {{ track.artists.0.name }}</h1>
    <h3>Album: {{ track.album.name }}</h3>
    <h3>Id track Spotify: {{ track.id }}</h3>
    {% if user.username %}
        {% if pub_playlists %}
            <h2>List of user pubs:</h2>
                {% for pub_playlist in pub_playlists %}
                    {% with pub=pub_playlist.0 %}
                    <h3>{{ pub.name }}</h3>
                    <ul>
                        {% for playlist in pub_playlist.1 %}
                            <li><a href="/playlist/{{ playlist.id }}">{{ playlist.name }}</a>
                            <a href="/pub/{{ pub.id }}/playlist/{{ playlist.id }}/add_track/{{ track.id }}"><button>Add song to this playlist</button></a></li>
                        {% endfor %}
                    </ul>
                    {% endwith %}
                {% endfor %}
           {% else %}
                <h2>Your registered pubs has no playlists!</h2>
           {% endif %}
    {% endif %}
    {% block results %}
	{% endblock %}
{% endblock %}